@{
    ViewBag.Title = "About";
}
<h2>Acerca de nosotros</h2>
<ul>
    <li>Nombre : Edwin A. Ruiz Ruiz</li>
    <li>Matricula : 2017-5079</li>
    <li> Materia : Programacion III</li>
    <li> Maestro : Juan Enmanuel Rosario Rodriguez</li>
    <li>Yo me encarge de hacer el Login de Facebook y el home page, junto al formulario en su totalidad y la parte del filtro de contenido</li>
</ul>

<img src="@Url.Content("~/Fotos/foto.jpg")" style="width:200px;height:300px;" />