@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Autopista Las Américas Km.27,

    Parque Cibernético de Santo Domingo,

    <br />
    La Caleta, Boca Chica, República Dominicana<br />
    <abbr title="Phone">Telefono:</abbr>
    (809) 738-4852
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:extension@itla.edu.do">extension@itla.edu.do</a><br />
</address>