@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Tarea No 4</h1>
    <p class="lead">Esta Tarea Fue Realizada Por: Edwin A. Ruiz y Ruddy A. Lorenzo</p>
    <p><a href="https://github.com/Edwinrr31/Tarea-No-4" class="btn btn-primary btn-lg">Link del repositorio &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Formulario</h2>
        <p>
            La primera parte del programa era crear un Formulario en el cual incluya los siguientes campos : Cedula, Nombre, Apellido
            Edad, Telefono, Cargo, sexo y poder subir una foto y su curriculum, dicho sea de paso debia de hacerse utilizando
            HTMLhelpers
        </p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Persona")">Formulario &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Conversor de Unidades</h2>
        <p>La segunda parte del programa era crear un conversor de unidades el que te permita convertir de
        Longitudes, Temperatura, Masa y Datos.</p>
        <p><a class="btn btn-default" href="@Url.Action("Index", "Conversor")">Conversor de Unidades &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Lector de XLS y filtro de contenido</h2>
        <p>La ultima parte del codigo es poder subir un archivo xls y un filtro de contenido</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Filtro de contenido &raquo;</a></p>
    </div>
</div>