@model Tarea_4.Models.Conversor
@using Tarea_4.Models

@{
    ViewBag.Title = "Conversor";
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>Conversores</title>
    <style>
        .panel {
            margin-top: 35px;
            width: 313px;
        }

        .form-control {
            margin-bottom: 10px;
        }
    </style>
</head>
<body>
    <div class="container-fluid">
        <div class="col-lg-4"></div>
        <div class="col-lg-4">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title text-center">Longitudes</h4>
                </div>
                <div class="panel-body">
                    @using (Html.BeginForm("Index", "Conversor", FormMethod.Post, new { enctype = "multipart/form-data" }))
                    {
                        <div>
                            @Html.TextBoxFor(a => a.cantidad, new { @class = "form-control" })
                        </div>
                        <div>
                            @Html.DropDownListFor(a => a.primeraUnidad, new SelectList(Enum.GetValues(typeof(TipoLongitudes))), new { @class = "form-control" })
                            <p class="text-center">a</p>
                            @Html.DropDownListFor(a => a.segundaUnidad, new SelectList(Enum.GetValues(typeof(TipoLongitudes))), new { @class = "form-control" })
                        </div>
                        <div>
                            <label class="form-control text-center">@ViewBag.resulLongitud</label>
                        </div>
                        <div class="text-center">
                            <input type="submit" value="Convertir" class="btn btn-primary" />
                        </div>
                    }
                </div>
            </div>
        </div>
        <div class="col-lg-4"></div>
    </div>
</body>
</html>

