
@{
    ViewBag.Title = "Noticias";
}

<h1> Links de los periodicos mas importante tanto a nivel nacional como internacional</h1>
    <table class="egt">

        <tr>

            <th scope="row">Noticias</th>

            <th>Nacionales</th>

            <th>Internacionales</th>



        </tr>

        <tr>

            <th>Link #1</th>

            <td><a href=https://www.diariolibre.com/ >Diario Libre</a></td>

            <td><a href=https://www.nytimes.com/es/ >New York Times</a></td>



        </tr>

        <tr>

            <th>Link #2</th>

            <td><a href=https://elnacional.com.do/ > El nacional</a></td>

            <td><a href=https://elpais.com/america/ > El pais </a></td>

        </tr>

        <tr>

            <th>Link #3</th>

            <td><a href=https://listindiario.com/ > Listin Diario</a></td>

            <td><a href=https://www.lanacion.com.ar/ > La nacion </a></td>

        </tr>

        <tr>

            <th>Link #4</th>

            <td><a href=https://hoy.com.do/ > Hoy </a></td>

            <td><a href=https://www.theguardian.com/uk > The Guardian</a></td>

        </tr>

        <tr>

            <th>Link #5</th>

            <td><a href=https://www.elcaribe.com.do/ > El caribe</a></td>

            <td><a href=https://www.wsj.com/ > The wall street journal</a></td>


        </tr>

    </table>

    <a href="@Url.Action("Index", "Home")">Menu Principal</a>