
@{
    ViewBag.Title = "Peliculas";
}

<h1> Accion </h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/vOUVVDWdXbo" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1> Aventura </h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/BmmoX8MBmmk" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Dramas </h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/jkC3POL66dg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1> Infantiles</h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/gn5QmllRCn4" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
<h1>Documentales </h1>
<iframe width="560" height="315" src="https://www.youtube.com/embed/34Kz-PP_X7c" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>